/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Heebo:wght@300&family=Poppins:wght@500&family=Roboto+Slab:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color: rgba(238, 253, 253, 0.898);
}
/* headersections */
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(79, 79, 202);
  width: 100%;
    height: 2199px;
}
 .container-detail{
    transition: transform 1.6s ease-in;
}
.container:hover .container-detail{
    transform:scale(1.2);
}
.container-detail span{
    color: white;
    font-size:100px ;
    font-weight: 700px;
    width: 150px;
}
.live-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#E02C6D;
    border-radius: 10px;
    font-weight: 600px;
    font-size: 20px;
    margin-left: 45px;
    width: 400px;
    height: 150px;
    transition: transform 2s ease-in-out;
}

.container:hover .live-info{
    transform: rotate(360deg) scale(1.4);
    background-color: #f1075d;
    border: 10px solid whitesmoke;
    border-radius: 10px;
}
.live-info p{
    font-size: 50px;
}
.live-info a{
    color: white;
    margin-left: 15px;
    font-weight: 700px;
    font-size: 50px;
}
.container-banner{
    transition: transform 2s ease-in-out;
}
.container:hover .container-banner{
transform: scale(1.1);
border: 30px solid rgb(100, 55, 192);
border-radius: 40px;
}
.container-banner img{
width: 1998px;
height: 1860px;
}
/* --------------------- */
/* player sections */
/* ------------------------- */
.second-container{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr  );
    justify-content: center;
    grid-row-gap: 70px;
    grid-column-gap: 70px;
}
.player-detail{
    font-size: 53px;
    padding: 40px;
}
.player-detail p{
    color: rgb(93, 13, 13);
}
.player:hover p{
    color: rgb(80, 78, 78);
}
.player-detail h1{
    font-weight: 900px;
}
.player{
    border: 40px solid rgb(245, 245, 242);
    border-radius: 20px;
    background-color:white;
    box-shadow: 5px 5px 5px  rgb(189, 186, 186);
}
.player-image img{
    padding: 20px;
    border-radius: 30px;
    margin: 50px;
}
.player:hover img{
    border:3px solid rgba(89, 88, 90, 0.933);
}
.player:hover h1{
    color: #f1075d;
}
hr{
    width: 3700px;
    margin-top: 160px;
}
hr:hover{
    border: 7px solid purple;
    background-color: blue;
}
/* third sections */
.third-container{
    margin: 90px 0;
}
.third-container-title{
    font-size: 156px;
    text-align: center;
    color: rgb(238, 72, 11);
}
.leaders{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 30px;
    justify-content: center;
    justify-items: center;
}
.leader{
    background-image: linear-gradient(orange,rgb(27, 231, 20));
    border: 18px solid rgb(190, 90, 14);
    border-radius: 30px; 
    box-shadow: 7px 7px 5px rgba(119, 136, 153, 0.796);
    transition: transform 1s ease-in-out;
}
.leader:hover{
    transform: scale(1.1);
}
.leader-image img{
    margin: 15px;
    border: 10px solid rgb(223, 217, 217);
    border-radius: 25px;
}
.leader-detail{
    font-size: 50px;
    text-align: center;
}
.leader-detail p{
    background-color: blueviolet;
    padding: 20px;
    color: white;
    border-radius: 20px;
}
.leader-detail h3{
    color: rgb(39, 38, 37);
    font-size: 90px;
}
.leader-detail h2{
    font-size: 96px;
    color: #190dbd;
}
.leader-detail h5{
    color: rgb(58, 55, 55);
}
/* footer sections */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 190px;
}
.football-logo img{
    width: 1500px;
    height: 500px;
}
.icon img{
    margin-right: 50px;
    width: 110px;
    height: 110px;
}
.copyright{
    display: flex;
    align-items: center;
    font-size: 3em;
}
.copyright h2{
    margin-right: 25px;
}
.copyright a{
    margin-right: 25px;
}
/* addition */
.venue-detail{
    position: absolute;
    top: 0;
    font-size: 120px;
    text-align: center;
    background-color: rgba(240, 230, 140, 0.44);
    display: none;
}
.venue-detail p{
    text-align: justify;
    padding: 50px 300px;
    color: rgb(29, 29, 29);
}
.venue-detail h1{
    background-color: #190dbd;
    color: white;
}
.venue{
    position: relative;
    overflow: hidden;
    margin: 300px 20px;
}
.venue:hover .venue-detail{
    display: block;
}
.venue:hover img{
    transform: scale(1.1);
}
.venue-image img{
    width: 100%;
    height: 2850px;
    transition: transform 5s ease-in-out;
}
.venue:hover{
   box-shadow: 10px 5px 10px rgba(128, 128, 128, 0.645);
}
/* meadia sections */
/* for mobile */
@media only screen and (max-width:688px){
    .players{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 8px;
        width: 100%;
        margin: 0;
    }
    .player-image img{
        width: 380px;
    }
    .players p, h1{
        font-size: 23px;
        text-align: center;
        width: 100%;
    }
    .container{
        flex-direction: column;
        width: 400px;
        height: 950px;
        transform: none;
        transition: none;
        /* display: none; */
    }
    .container-banner img{
        width: 380px;
        height: 700px;
    }
    .container-info{
        width: 100%;
        font-size: 56px;
    }
    .container-detail span{
        font-size: 58px;
    }
    .live-info a{
font-size: 16px;
    }
    .live-info p{
        font-size: 16px;
    }
    .live-info{
        margin-left:110px ;
        width: 150px;
        height: 30px;
    }

    .footer-section{
        width: 100%;
    }
    .leaders{
        grid-template-columns:repeat(1, 1fr);
    }
    .leader{
        transform: none;
    }
    .leader-image img{
        width: 280px;
    }
    .leader-detail h3{
        font-size: 46px;
    }
    .third-container-title{
        font-size: 50px;
        margin: 0;
    }
    hr{
        display: none;
    }
    .venue{
        display: none;
    }
    
    .football-logo img{
        width: 100%;
        height: 80px;
    }
    .icon img{
        width: 18px;
        height: 18px;
        margin: 2px;
    }
    .copyright{
        font-size: 15px;
    }
}
/* meadia quary end*/